# 2.1 - Introducción a Python

https://docs.python.org/3/

![python](images/python.png)


Python es un lenguaje de programación interpretado cuya filosofía hace hincapié en la legibilidad de su código. Se trata de un lenguaje de programación multiparadigma, ya que soporta parcialmente la orientación a objetos, programación imperativa y, en menor medida, programación funcional. Es un lenguaje interpretado, dinámico y multiplataforma.

Es administrado por la Python Software Foundation. Posee una licencia de código abierto, denominada Python Software Foundation License.

In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

```python
Bonito es mejor que feo.
Explícito es mejor que implícito.
Simple es mejor que complejo.
Complejo es mejor que complicado.
Plano es mejor que anidado.
Disperso es mejor que denso.
La legibilidad cuenta.
Los casos especiales no son tan especiales como para romper las reglas.
Aunque la practicidad gana a la pureza.
Los errores nunca deben pasar en silencio.
A menos que se silencien explícitamente.
Ante la ambigüedad, rechaza la tentación de suponer.
Debe haber una -y preferiblemente sólo una- forma obvia de hacerlo.
Aunque esa manera puede no ser obvia al principio, a menos que seas holandés.
Ahora es mejor que nunca.
Aunque nunca es a menudo mejor que *ahora mismo*.
Si la implementación es difícil de explicar, es una mala idea.
Si la implementación es fácil de explicar, puede ser una buena idea.
Los espacios de nombres son una gran idea, ¡hagamos más de ellos!
```

**Tabla de contenidos:**

    1  Números enteros (integer)
    2  Números reales (float)
    3  Números complejos (complex)
    4  Operaciones básicas
    5  Booleanos
    6  Valores nulos (None)
    7  Cadenas de caracteres (string)
    8  Tipos compuestos:
        8.1  Listas
        8.2  Tuplas
        8.3  Conjuntos (set)
        8.4  Diccionarios
    9  Más

## Números enteros (integer)

In [2]:
edad = 39

print(edad)

39

In [3]:
type(edad)    # para ver el tipo de dato

int

In [4]:
type(0)

int

In [5]:
type(-5)

int

In [6]:
type(80)

int

## Números reales (float)

In [13]:
temp = 29.5

temp

29.5

In [14]:
type(temp)

float

In [15]:
type(3.1415926535)

float

In [18]:
type(-1.234556)

float

In [19]:
type(1.618033)

float

In [20]:
type(.9)

float

In [21]:
.9

0.9

In [22]:
float(8)

8.0

In [23]:
type(20.)

float

In [26]:
1_000_000

1000000

In [27]:
int(3.14)

3

In [28]:
int(3.9)

3

## Números complejos (complex)

In [29]:
1j   #i

1j

In [30]:
5 + 7j

(5+7j)

In [31]:
type(5 + 7j)

complex

## Operaciones básicas

In [32]:
# suma

3 + 4

7

In [35]:
print(3.9 + 9)

12.9

In [34]:
suma = 3.9 + 9

suma

12.9

In [36]:
# resta

3 - 4

-1

In [37]:
3 - 5

-2

In [40]:
temp = 0 - temp

temp

-29.5

In [41]:
# multiplicacion 


3 * 5

15

In [42]:
9 * 5.78

52.02

In [43]:
suma * temp

-380.55

In [44]:
# division

3 / 7

0.42857142857142855

In [45]:
7 / 2.4566

2.8494667426524467

In [46]:
7 / 0

ZeroDivisionError: division by zero

In [47]:
# division entera

20 / 3

6.666666666666667

In [48]:
int(20 / 3)

6

In [49]:
20 // 3 # para sacar el cociente de la division sin resto

6

In [50]:
# modulo (resto de la division)


20 % 3

2

In [51]:
%ls

1.0 - Asistentes LLMs.ipynb     2.1 - Intro Python.ipynb*
1.1 - Bash.ipynb*               images/
1.2 - Entornos virtuales.ipynb* src/
1.3 - Git.ipynb*

In [52]:
# jerarquia de operaciones


2 + 5 * 3

17

In [53]:
(2 + 5) * 3

21

In [54]:
# potencia/raiz

2 ** 3

8

In [55]:
3 ** (1+2+3)

729

In [56]:
2 ** (1/2)

1.4142135623730951

In [57]:
2 ** 0.5

1.4142135623730951

In [58]:
# conversiones de datos

abs(-4)   # valor absoluto

4

In [60]:
int(3.9415)    # a entero

3

In [62]:
float(8)      # a float

8.0

In [70]:
type(float('3.1415'))

float

In [72]:
int('31415')

31415

In [73]:
int(float('3.1415'))

3

In [74]:
round(5.32525255)

5

In [75]:
round(5.62525255)

6

In [76]:
round(5.5)

6

In [77]:
round(5.62525255, 4)   # con 4 decimales

5.6253

In [80]:
x = 5.62525255

x = round(x, 4) 

x

5.6253

In [81]:
import math

In [83]:
#help(math)

In [84]:
math.floor(8.9)

8

In [85]:
math.ceil(8.1)

9

In [86]:
math.sqrt(2)

1.4142135623730951

In [87]:
math.log10(100)

2.0

## Booleanos

In [88]:
bool(0)

False

In [89]:
bool(1)

True

In [90]:
bool(923587590832590234870)

True

In [91]:
bool('hola')

True

In [93]:
bool('')

False

In [94]:
True

True

In [95]:
False

False

In [96]:
True == False

False

In [97]:
.5 == 0.5

True

In [98]:
50 > 100

False

In [99]:
50 < 100

True

In [100]:
not True

False

#### Ley de De Morgan
```python
not (a or b) == (not a) and (not b)
not (a and b) == (not a) or (not b)
```

In [101]:
not (False and True)

True

In [102]:
(not True) or (not False)

True

In [103]:
4 != 0

True

In [104]:
!ls

1.0 - Asistentes LLMs.ipynb    2.1 - Intro Python.ipynb
1.1 - Bash.ipynb               images
1.2 - Entornos virtuales.ipynb src
1.3 - Git.ipynb

## Valores nulos (None)

In [109]:
print(None)

None

In [110]:
type(None)

NoneType

In [112]:
_ = 0

In [113]:
_

0

## Cadenas de caracteres (string)

In [114]:
nombre = 'Pepe'

nombre

'Pepe'

In [115]:
type(nombre)

str

In [116]:
type('hola')

str

In [117]:
# cuidado con las comillas

"hola"

'hola'

In [118]:
'hola'

'hola'

In [120]:
"Moe's"

"Moe's"

In [123]:
'2"'

'2"'

In [124]:
# esto es un cometario de una linea

In [125]:
'''
Es un 
comentario
multilinea
'''

3

3

In [126]:
parrafo = '''
Es un 
comentario
multilinea
'''

In [127]:
parrafo

'\nEs un \ncomentario\nmultilinea\n'

In [128]:
'''1h 1' 2"'''

'1h 1\' 2"'

In [129]:
'usuario/carpeta/archivo.csv'   # ruta Mac-Linux, la barra del 7

'usuario/carpeta/archivo.csv'

In [130]:
'C:\usuario\carpeta'

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \uXXXX escape (1257729080.py, line 1)

In [131]:
'C:\\usuario\\carpeta'    # ruta de Windows

'C:\\usuario\\carpeta'

In [132]:
r'C:\usuario\carpeta'    # r es de raw, en crudo, la barra de al lado del 1

'C:\\usuario\\carpeta'

In [133]:
print('hola, estoy en : \n Ironhack')   # \n salto de linea

hola, estoy en :
 Ironhack

In [134]:
print('hola, estoy en : \t Ironhack')  # \t es el tabulador

hola, estoy en : 	 Ironhack

In [136]:
type('None')

str

In [137]:
# operaciones con strings

'hola' + 2

TypeError: can only concatenate str (not "int") to str

In [138]:
'hola' + '2'

'hola2'

In [139]:
'hola' * 2

'holahola'

In [141]:
'hola' * 2.25

TypeError: can't multiply sequence by non-int of type 'float'

In [142]:
'hola' - 'h'

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [143]:
'hola' / 2

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [147]:
'hola' + '2-1'

'hola2-1'

In [149]:
a = 3

a += 2    # a = a + 2

a

5

In [150]:
a = 3

a -= 2    # a = a - 2

a

1

In [151]:
a = 3

a *= 2    # a = a * 2

a

6

In [152]:
a = 3

a /= 2    # a = a / 2

a

1.5

In [156]:
# formateo de strings


num = 42

otra = 'hola tio'

'Hola Chief: no me has pagao {} € alegre {}......'.format(num, 98)

'Hola Chief: no me has pagao 42 € alegre 98......'

In [157]:
print('Hola', num, otra, 'adios')

Hola 42 hola tio adios

In [158]:
 a = 'Hola', num, otra, 'adios'

In [160]:
type(a)

tuple

In [161]:
robo = 'Hola Chief: no me has pagao {} € alegre {}......'.format(num, 98)

In [162]:
robo

'Hola Chief: no me has pagao 42 € alegre 98......'

In [163]:
f'Hola Chief: no me has pagao {num} € alegre {otra}......'

'Hola Chief: no me has pagao 42 € alegre hola tio......'

In [164]:
'Hola, el num={}, edad={}, temp={}'.format(num, edad, temp)

'Hola, el num=42, edad=39, temp=-29.5'

In [167]:
f'Hola, el num={num}, edad={edad}, temp={temp}'

'Hola, el num=42, edad=39, temp=-29.5'

In [171]:
edad = "kjenvioejrtio"

var = f'Hola, el num={num}, edad={edad}, temp={temp}'

var

'Hola, el num=42, edad=kjenvioejrtio, temp=-29.5'

In [173]:
'Hola Chief: no me has pagao {} € alegre {}......'.lower()

'hola chief: no me has pagao {} € alegre {}......'

In [174]:
'Hola Chief: no me has pagao {} € alegre {}......'.upper()

'HOLA CHIEF: NO ME HAS PAGAO {} € ALEGRE {}......'

In [175]:
'Hola Chief: no me has pagao {} € alegre {}......'.title()

'Hola Chief: No Me Has Pagao {} € Alegre {}......'

In [176]:
'Hola Chief: no me has pagao {} € alegre {}......'.capitalize()

'Hola chief: no me has pagao {} € alegre {}......'

In [177]:
var

'Hola, el num=42, edad=kjenvioejrtio, temp=-29.5'

In [178]:
var[0]

'H'

In [179]:
var[0] = 'I'

TypeError: 'str' object does not support item assignment

In [180]:
var.replace('H', 'I')    # lo que hay por lo que quiero

'Iola, el num=42, edad=kjenvioejrtio, temp=-29.5'

In [183]:
var.replace('o', '30', 2)   # el primero

'H30la, el num=42, edad=kjenvi30ejrtio, temp=-29.5'

In [184]:
var = var.replace('o', '30', 2)   # el primero

In [185]:
var

'H30la, el num=42, edad=kjenvi30ejrtio, temp=-29.5'

In [192]:
# slicing:    iterable[start:stop:step]


var[0:5:1]

'H30la'

In [190]:
var[0:25:3]

'Hl  m2edj'

In [ ]:
var[::]   # al hacer esto haces una copia

In [194]:
var[::-1]  # reverse, pa darle la vuelta

'5.92-=pmet ,oitrje03ivnejk=dade ,24=mun le ,al03H'

In [195]:
var[-1]

'5'

## Listas

In [2]:
lst = [10, 24, 56, 78, 90, 12, 4324523, 43]

lst2 = ['BBB', 'hola', 'adios', 'hasta luego', 'chato']


print(lst)

[10, 24, 56, 78, 90, 12, 4324523, 43]

In [197]:
type(lst)

list

In [198]:
len(lst)    # longitud , nº de elementos

8

In [199]:
min(lst), max(lst)

(10, 4324523)

In [204]:
min(lst2), max(lst2)  # https://elcodigoascii.com.ar/

('BBB', 'hola')

In [207]:
'hola' in lst2

True

In [208]:
'hola' in 'hola que tal'

True

In [209]:
sum(lst)

4324836

In [211]:
sum(lst2)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [212]:
int(lst)

TypeError: int() argument must be a string, a bytes-like object or a number, not 'list'

In [213]:
str(lst)

'[10, 24, 56, 78, 90, 12, 4324523, 43]'

In [215]:
lst[0]

10

In [216]:
str(lst)[0]

'['

In [220]:
var

'H30la, el num=42, edad=kjenvi30ejrtio, temp=-29.5'

In [218]:
var.split()

['H30la,', 'el', 'num=42,', 'edad=kjenvi30ejrtio,', 'temp=-29.5']

In [224]:
var.split('=')

['H30la, el num', '42, edad', 'kjenvi30ejrtio, temp', '-29.5']

In [221]:
lst3 = var.split()

lst3

['H30la,', 'el', 'num=42,', 'edad=kjenvi30ejrtio,', 'temp=-29.5']

In [222]:
lst3[0]

'H30la,'

In [228]:
'👺'.join(lst3)

'H30la,👺el👺num=42,👺edad=kjenvi30ejrtio,👺temp=-29.5'

In [229]:
'o'.join(lst3)

'H30la,oelonum=42,oedad=kjenvi30ejrtio,otemp=-29.5'

In [230]:
'      '.join(lst3)

'H30la,      el      num=42,      edad=kjenvi30ejrtio,      temp=-29.5'

In [231]:
# slicing


lst

[10, 24, 56, 78, 90, 12, 4324523, 43]

In [232]:
lst[0]    # el primero, que empiezan en cero y acaban en N-1, N=len(lst)

10

In [233]:
lst[1]    # el segundo

24

In [234]:
lst[-1]    # el ultimo

43

In [235]:
lst[-2]    # el penultimo

4324523

In [236]:
# lst[start:stop:step]

In [237]:
lst[1:4]   # lst[start:stop] desde el 2º al 4º

[24, 56, 78]

In [238]:
lst[1:20000]

[24, 56, 78, 90, 12, 4324523, 43]

In [242]:
len(lst)

8

In [241]:
lst[1:len(lst)]

[24, 56, 78, 90, 12, 4324523, 43]

In [239]:
lst[1:8:2]

[24, 78, 12, 43]

In [243]:
lst[1::2]

[24, 78, 12, 43]

In [240]:
lst[::-1]

[43, 4324523, 12, 90, 78, 56, 24, 10]

In [244]:
lst

[10, 24, 56, 78, 90, 12, 4324523, 43]

In [250]:
sorted(lst, reverse=False)

[10, 12, 24, 43, 56, 78, 90, 4324523]

In [3]:
sorted(lst)

[10, 12, 24, 43, 56, 78, 90, 4324523]

In [252]:
sorted(lst, reverse=True)

[4324523, 90, 78, 56, 43, 24, 12, 10]

In [255]:
sorted(lst2)[::-1]

['hola', 'hasta luego', 'chato', 'adios', 'BBB']

In [249]:
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

**tipos de bucles**

In [4]:
lst

[10, 24, 56, 78, 90, 12, 4324523, 43]

In [8]:
# para cada elemento en la lista......


for elemento in lst:
    print(elemento+10)
    
    
print('Fin del bucle')

20
34
66
88
100
22
4324533
53
Fin del bucle

In [9]:
list(range(4, 10, 2))    # start, stop, step

[4, 6, 8]

In [10]:
list(range(len(lst)))

[0, 1, 2, 3, 4, 5, 6, 7]

In [11]:
# para cada indice en el range de la longitud de la lista.......

for indice in range(len(lst)):
    print(indice, '-----------', lst[indice])
    
    
print('Fin del bucle')

0 ----------- 10
1 ----------- 24
2 ----------- 56
3 ----------- 78
4 ----------- 90
5 ----------- 12
6 ----------- 4324523
7 ----------- 43
Fin del bucle

In [16]:
for i in range(2, 8):

    print(i)

2
3
4
5
6
7

In [268]:
for i in range(2, 8, 3):
    print(i)

2
5

In [269]:
# para cada i,e en el enumerate de la lista......

for indice, elemento in enumerate(lst):
    print(indice, '--------', elemento)

0 -------- 10
1 -------- 24
2 -------- 56
3 -------- 78
4 -------- 90
5 -------- 12
6 -------- 4324523
7 -------- 43

In [271]:
list(enumerate(lst))

[(0, 10), (1, 24), (2, 56), (3, 78), (4, 90), (5, 12), (6, 4324523), (7, 43)]

In [273]:
a,b = [8, 9]

a

8

In [279]:
for i,e in enumerate(lst2):
    
    print(i, '---',e, '---', lst[i])

0 --- BBB --- 10
1 --- hola --- 24
2 --- adios --- 56
3 --- hasta luego --- 78
4 --- chato --- 90

In [277]:
lst[0]

10

In [280]:
l1 = [1,2, 3]

l2 = ['a', 'b', 'c']

In [282]:
list(zip(l1, l2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [283]:
for num, letra in zip(l1, l2):
    print(num, '----', letra)

1 ---- a
2 ---- b
3 ---- c

In [285]:
l1 + l2 + l1

[1, 2, 3, 'a', 'b', 'c', 1, 2, 3]

In [286]:
l1.append(l2)

In [288]:
l1[3]

['a', 'b', 'c']

In [292]:
# bucle while

a = 0   #contador


while a<=10:
    print(f'El valor actual de a es {a}')
    
    a+=5
    
    
print('Fin')

El valor actual de a es 0
El valor actual de a es 5
El valor actual de a es 10
Fin

In [290]:
a

15

In [294]:
# bucle infinito

a=0

while 1:
    
    print('hola')
    
    a+=2
    
    if a>20:
        break
    
print('Fin')

hola
hola
hola
hola
hola
hola
hola
hola
hola
hola
hola
Fin

In [297]:
for e in lst:
    print(e)
    
    if e==56:
        break   # este lo mata
        
print('FIN')

10
24
56
FIN

In [305]:
for e in lst:
    print(e)
    
    if e==56:
        continue   # este pasa al siguiente paso del bucle
        
    print('hola')
        
print('FIN')

10
hola
24
hola
56
78
hola
90
hola
12
hola
4324523
hola
43
hola
FIN

In [299]:
lst

[10, 24, 56, 78, 90, 12, 4324523, 43]

In [300]:
for e in lst:
    print(e)
    
    if e==56:
        pass   # este no hace nada
        
print('FIN')

10
24
56
78
90
12
4324523
43
FIN

In [303]:
def funcion():
    pass

**condicionales**

In [304]:
estudiante = 'Pepe 😷'

estudiante[-1]

'😷'

In [313]:
%%time

if estudiante[-1] == '😷':
    print('El estudiante puede entrar al campus.')
    
elif estudiante[-1] == '🤪':
    print('Vete pa casa chaval.')
    
else:
    print('na de na')

El estudiante puede entrar al campus.
CPU times: user 32 µs, sys: 7 µs, total: 39 µs
Wall time: 39.1 µs

In [312]:
%%time

if estudiante[-1] == '😷':
    print('El estudiante puede entrar al campus.')
    
else:
    pass
    
if estudiante[-1] == '🤪':
    print('Vete pa casa chaval.')
    
else:
    print('na de na')

El estudiante puede entrar al campus.
na de na
CPU times: user 32 µs, sys: 8 µs, total: 40 µs
Wall time: 38.1 µs

In [314]:
%time print(8)

8
CPU times: user 223 µs, sys: 102 µs, total: 325 µs
Wall time: 297 µs

In [317]:
%%time

# secuencia de Fibonacci

a = 0
b = 1


contador = 0

cuantos = 10


print(a)
print(b)


while contador<cuantos:
    
    c = a+b
    print(c)
    
    a=b
    b=c
    
    contador+=1
    
    
print('FIN')

0
1
1
2
3
5
8
13
21
34
55
89
FIN
CPU times: user 284 µs, sys: 80 µs, total: 364 µs
Wall time: 345 µs

In [318]:
%%time


# secuencia de Fibonacci

a = 0
b = 1


cuantos = 10


print(a)
print(b)


for _ in range(cuantos):
    
    c = a+b
    
    print(c)
    
    a=b
    b=c
    
print('FIN')

0
1
1
2
3
5
8
13
21
34
55
89
FIN
CPU times: user 379 µs, sys: 106 µs, total: 485 µs
Wall time: 454 µs

**list comprehension**

In [319]:
lst = []


for i in range(10):
    
    lst.append(i)
    
lst

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [321]:
lst2 = [i for i in range(10)]

lst2

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [19]:
matriz = []

for x in range(5):    # eje x, por filas
    
    lst_tmp = []
    
    for y in range(5):
        lst_tmp.append(y)
        
    matriz.append(lst_tmp)

    
matriz

[[0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4]]

In [328]:
matriz[0]

[0, 1, 2, 3, 4]

In [333]:
lst_tmp = []
    
for y in range(5):
    print(lst_tmp)
    lst_tmp.append(y)

lst_tmp

[]
[0]
[0, 1]
[0, 1, 2]
[0, 1, 2, 3]

[0, 1, 2, 3, 4]

In [329]:
lst_y

[0, 1, 2, 3, 4]

In [342]:
matriz = [[y for y in range(5)] for x in range(5)]

matriz

[[0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4]]

In [347]:
lst = []

for i in range(20):
    
    if i%2==0:   # es un nº par
        
        lst.append(i)
           
lst

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [350]:
lst = [i for i in range(20) if i%2==0]

lst

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [351]:
lst = []


for i in range(5):
    
    for j in range(3):
        
        lst.append(i*j)
        
lst

[0, 0, 0, 0, 1, 2, 0, 2, 4, 0, 3, 6, 0, 4, 8]

In [352]:
lst = [i*j for i in range(5) for j in range(3)]

lst

[0, 0, 0, 0, 1, 2, 0, 2, 4, 0, 3, 6, 0, 4, 8]

In [353]:
lst

[0, 0, 0, 0, 1, 2, 0, 2, 4, 0, 3, 6, 0, 4, 8]

In [354]:
lst.pop()

8

In [355]:
lst

[0, 0, 0, 0, 1, 2, 0, 2, 4, 0, 3, 6, 0, 4]

In [356]:
lst.pop(0)   # por indice

0

In [357]:
lst

[0, 0, 0, 1, 2, 0, 2, 4, 0, 3, 6, 0, 4]

In [360]:
lst.remove(6)   # por elemento

In [361]:
lst

[0, 0, 1, 2, 0, 2, 4, 0, 3, 0, 4]

In [362]:
lst.sort()

In [363]:
lst

[0, 0, 0, 0, 0, 1, 2, 2, 3, 4, 4]

In [364]:
lst.sort(reverse=True)

lst

[4, 4, 3, 2, 2, 1, 0, 0, 0, 0, 0]

In [366]:
lst[0] = 9874539483

lst

[9874539483, 4, 3, 2, 2, 1, 0, 0, 0, 0, 0]

In [369]:
lst.insert(5, 1000)   # indice - elemento

In [370]:
lst

[20, 9874539483, 4, 3, 2, 1000, 2, 1, 0, 0, 0, 0, 0]

In [371]:
4e2 # notacion cientifica

400.0

In [372]:
1e4

10000.0

In [373]:
1e-4

0.0001

## Tuplas

Inmutables

In [20]:
letras = ('a', 'b', 'c')

letras

('a', 'b', 'c')

In [21]:
type(letras)

tuple

In [22]:
for e in letras:
    print(e)

a
b
c

In [23]:
for i in range(len(letras)):
    print(i)

0
1
2

In [25]:
letras[0]

'a'

In [379]:
letras[0] = 9

TypeError: 'tuple' object does not support item assignment

In [380]:
letras.append(8)

AttributeError: 'tuple' object has no attribute 'append'

In [381]:
letras.pop()

AttributeError: 'tuple' object has no attribute 'pop'

In [382]:
letras = list(letras)

letras

['a', 'b', 'c']

In [383]:
letras.append(8)

In [384]:
letras = tuple(letras)

In [385]:
letras

('a', 'b', 'c', 8)

## Conjuntos (set)

In [386]:
lst = [1,1,1,1,1,1,2,2,2,2,2,3,3,3,3,3,3,0,344,4,4,4,4,4,0,4,4]

lst[:5]

[1, 1, 1, 1, 1]

In [387]:
set(lst) #No tiene numeros repetidos y los ordena de menor a mayor, ABEL

{0, 1, 2, 3, 4, 344}

In [388]:
lst2 = list(set(lst))

lst2

[0, 1, 2, 3, 4, 344]

In [389]:
s = set(lst)

s

{0, 1, 2, 3, 4, 344}

In [390]:
type(s)

set

In [397]:
s.add(8)

In [398]:
s

{0, 1, 2, 3, 4, 8, 344}

In [399]:
for e in s:
    print(e)

0
1
2
3
4
8
344

In [400]:
s.remove(0)

s

{1, 2, 3, 4, 8, 344}

In [401]:
set_1=set([1,1,1,2,3,3,3,3,3,3,4,5,5,6,6,6,76,7,78,8,8,8,9,9,9,99,0,0,0,0])

set_2=set([3, 4, 5, 6, 7, 8, 9, 0, 8 , 0, 780, 78,789,786])

In [402]:
set_1

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 76, 78, 99}

In [403]:
set_2

{0, 3, 4, 5, 6, 7, 8, 9, 78, 780, 786, 789}

In [404]:
set_1.union(set_2)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 76, 78, 99, 780, 786, 789}

In [405]:
set_1.intersection(set_2)

{0, 3, 4, 5, 6, 7, 8, 9, 78}

In [406]:
set_1 - set_2

{1, 2, 76, 99}

In [407]:
set_2 - set_1

{780, 786, 789}

In [408]:
set_1 | set_2  # union   (| == or)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 76, 78, 99, 780, 786, 789}

In [409]:
set_1 & set_2  # interseccion  (& == and)

{0, 3, 4, 5, 6, 7, 8, 9, 78}

In [410]:
set_1.issubset(set_2)

False

In [411]:
set_1.issuperset(set_2)

False

In [412]:
set_1 = {1,2,3}

set_2 = {1,2,3,4,5,6}

In [414]:
set_1.issubset(set_2)

True

In [415]:
set_2.issuperset(set_1)

True

In [416]:
set_1 & set_2

{1, 2, 3}

## Diccionarios

In [417]:
dict()

{}

In [418]:
type({})

dict

In [419]:
dictio = {'clave': 'valor', 3:'hola', True:[1,2,3,4,5]}

dictio

{'clave': 'valor', 3: 'hola', True: [1, 2, 3, 4, 5]}

In [420]:
type(dictio)

dict

In [421]:
dictio[0]

KeyError: 0

In [422]:
dictio['clave']

'valor'

In [423]:
dictio[3]

'hola'

In [424]:
dictio['key2'] = 3469876093845

In [425]:
dictio

{'clave': 'valor', 3: 'hola', True: [1, 2, 3, 4, 5], 'key2': 3469876093845}

In [426]:
dictio['key2'] = 0

dictio

{'clave': 'valor', 3: 'hola', True: [1, 2, 3, 4, 5], 'key2': 0}

In [427]:
dictio.keys()

dict_keys(['clave', 3, True, 'key2'])

In [428]:
dictio.values()

dict_values(['valor', 'hola', [1, 2, 3, 4, 5], 0])

In [429]:
dictio.items()

dict_items([('clave', 'valor'), (3, 'hola'), (True, [1, 2, 3, 4, 5]), ('key2', 0)])

In [430]:
for key in dictio.keys():
    print(key)

clave
3
True
key2

In [431]:
for value in dictio.values():
    print(value)

valor
hola
[1, 2, 3, 4, 5]
0

In [433]:
for k,v in dictio.items():
    print('Key:', k, '-------', 'Value:', v)

Key: clave ------- Value: valor
Key: 3 ------- Value: hola
Key: True ------- Value: [1, 2, 3, 4, 5]
Key: key2 ------- Value: 0

In [434]:
dictio[0]

KeyError: 0

In [435]:
dictio.get(0)

In [437]:
dictio.get('clave', 'Esta key no existe alegre')

'valor'

In [438]:
lst = ['a', 'b', 'c']

lst2 = [1,2,3,4,5,6]

In [439]:
list(zip(lst, lst2))

[('a', 1), ('b', 2), ('c', 3)]

In [440]:
dict(zip(lst, lst2))

{'a': 1, 'b': 2, 'c': 3}

In [441]:
{k:v for k,v in zip(lst, lst2)}

{'a': 1, 'b': 2, 'c': 3}

In [442]:
dictio = {}

for i in range(len(lst)):
    
    dictio[lst[i]]=lst2[i]
    
dictio

{'a': 1, 'b': 2, 'c': 3}

## Más

`is` vs `==` [link](http://net-informations.com/python/iq/is.htm#:~:text=The%20is%20operator%20compares%20the,and%20%3D%3D%20comparison%20operators%20behave.)

In [443]:
a = [1, 2]
b = [1, 2]

In [444]:
a == b

True

In [445]:
a is b

False

In [446]:
id(a)

4406068992

In [447]:
id(b)

4405767680

In [448]:
a=b

In [449]:
a is b

True

In [450]:
a.append(9)

a

[1, 2, 9]

In [451]:
b

[1, 2, 9]

In [452]:
b = a[::]  # copia, mitosis

In [453]:
id(b)

4404129024

In [454]:
id(a)

4405767680

In [455]:
a is b

False

In [457]:
a = 0

In [458]:
id(a)

4349159696

In [459]:
a+=1

In [460]:
id(a)

4349159728

In [6]:
import random

random.sample(range(101), k=8)

[79, 77, 65, 27, 36, 39, 58, 83]

`while 1` vs `while True`

[Python docs](https://docs.python.org/3/tutorial/controlflow.html)

Tutorial [Python Booleans](https://realpython.com/python-boolean/)

Charla de [Richard Feynman](https://www.youtube.com/watch?v=EKWGGDXe5MA) sobre computación