# 4.2 - Map, Filter, Reduce

Estas tres funciones nos permiten realizar procesos con iterables de una manera más eficiente. Todas ellas reciben como argumentos de entrada un iterable y una función que realiza una acción sobre el iterable. A menudo, la función que se pasa a `map()`, `reduce()` o `filter()` solamente se utiliza una vez, de ahí que el uso de funciones `lambda` sea muy habitual en su uso.

### Map (Mathematical application)

El `map()` itera sobre todos los elementos de un iterable aplicando una función a cada uno de ellos. Su sintaxis es:

```python
map(funcion, iterable)
```

La función `map()` devuelve un iterable con el mismo número de elementos que el que se le pasa como entrada, aplica una función matemática a cada uno de los elementos

In [1]:
def restar_10(x):
    
    """
    Esta funcion tiene que recibir solo un elemento de entrada.
    Para el map, pensad en esta funcion para un solo elemento del iterable
    
    """
    
    return x-10

In [30]:
lst = [i for i in range(10_000_000)]

lst[:10]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
%%time

res = []

for e in lst:
    
    n = restar_10(e)
    
    res.append(n)
    
    
res[:10]

CPU times: user 1.13 s, sys: 90.3 ms, total: 1.22 s
Wall time: 1.27 s

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1]

In [6]:
len(res)

10000000

In [7]:
%%time

res = [restar_10(e) for e in lst]

len(res)

CPU times: user 627 ms, sys: 122 ms, total: 749 ms
Wall time: 775 ms

10000000

In [8]:
%%time

#map(funcion, lista)

map(restar_10, lst)

CPU times: user 5 µs, sys: 1e+03 ns, total: 6 µs
Wall time: 9.06 µs

In [9]:
%%time

#map(funcion, lista)

list(map(restar_10, lst))[:10]

CPU times: user 441 ms, sys: 138 ms, total: 580 ms
Wall time: 663 ms

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1]

In [32]:
list(map(restar_10, lst))[-5:]

[9999985, 9999986, 9999987, 9999988, 9999989]

In [10]:
x = map(restar_10, lst)

In [11]:
type(x)

map

In [15]:
%%time

#map(funcion, lista)

list(map(lambda x: x-10, lst))[:10]

CPU times: user 439 ms, sys: 183 ms, total: 621 ms
Wall time: 708 ms

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1]

In [22]:
lst = (1,2,3,4,5)

tuple(map(lambda x: x/80, lst))

(0.0125, 0.025, 0.0375, 0.05, 0.0625)

In [38]:
list(map(lambda x: 2*x, 'hola'))

['hh', 'oo', 'll', 'aa']

In [37]:
''.join(list(map(lambda x: 2*x, 'hola')))

'hhoollaa'

In [41]:
dictio = {'a': 1, 'b': 2, 'c': 3}


for e in dictio:
    
    print(e)

a
b
c

In [42]:
for e in dictio.keys():
    
    print(e)

a
b
c

### Filter

Como el nombre sugiere la función `filter()` sirve para filtrar un iterable.Su sintaxis es:

```python
filter(funcion, iterable)
```

La función filter devuelve un iterable, pero su longitud no tiene por qué coincidir con la del iterable de entrada, después de todo es un filtro. La función de entrada del filter tiene la particularidad de devolver valores booleanos según cierta condición, de ésta manera es como se gestiona el filtrado de elementos.

In [43]:
def buscar_par(n):
    
    if n%2==0:
        return True
    else:
        return False

In [45]:
buscar_par(5)

False

In [46]:
lst[:10]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [50]:
%%time

filter(buscar_par, lst)

CPU times: user 4 µs, sys: 1e+03 ns, total: 5 µs
Wall time: 24.8 µs

In [51]:
%%time

list(filter(buscar_par, lst))[:10]

CPU times: user 588 ms, sys: 51.6 ms, total: 640 ms
Wall time: 680 ms

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [53]:
len(lst)

10000000

In [54]:
len(list(filter(buscar_par, lst)))

5000000

In [52]:
list(map(buscar_par, lst))[:10]

[True, False, True, False, True, False, True, False, True, False]

In [55]:
len(list(map(buscar_par, lst)))

10000000

In [57]:
%%time

res = []


for n in lst:
    
    if n%2==0:
        
        res.append(n)
        
    else:
        
        pass
    
res[:5]

CPU times: user 588 ms, sys: 89.7 ms, total: 678 ms
Wall time: 685 ms

[0, 2, 4, 6, 8]

In [58]:
def buscar_impar(n):
    return n%2

In [59]:
filter(buscar_impar, lst)

In [60]:
filter(lambda n: n%2, lst)

In [61]:
list(filter(lambda n: n%2, lst))[:10]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [62]:
{8,6,5,4}

{4, 5, 6, 8}

**Multifiltro**

In [64]:
# formato json

hoteles=[
    
    {'name':'Ritz', 'hasPool':True, 'stars':5},
    
    {'name':'Pension Lola', 'hasPool':True, 'stars':2},
    
    {'name':'Roma Norte', 'hasPool':False, 'stars':3},
    
    {'name':'Palace', 'hasPool':True, 'stars':4},
]

In [66]:
# menos de 3 estrellas


list(filter(lambda x: x['stars']<3, hoteles))

[{'name': 'Pension Lola', 'hasPool': True, 'stars': 2}]

In [67]:
# mas de 3 estrellas

list(filter(lambda x: x['stars']>3, hoteles))

[{'name': 'Ritz', 'hasPool': True, 'stars': 5},
 {'name': 'Palace', 'hasPool': True, 'stars': 4}]

In [70]:
# mas de 3 estrellas y con piscina


list(filter(lambda x: x['stars']>3 and x['hasPool'], hoteles))

[{'name': 'Ritz', 'hasPool': True, 'stars': 5},
 {'name': 'Palace', 'hasPool': True, 'stars': 4}]

In [75]:
# mas de 3 estrellas, con piscina y Ritz


list(filter(lambda x: x['stars']>3 and x['hasPool'] and x['name']=='Ritz', hoteles))

[{'name': 'Ritz', 'hasPool': True, 'stars': 5}]

### Reduce

El `reduce()` funciona de manera diferente que el `map()` o el `filter()`. No devuelve un iterable resultante de la aplicación de una función, sino que devuelve un solo elemento reducido, procesado. La manera de hacerlo es acumulando los resultados, empezando por el primer elemento del iterable y recorriéndolo (el valor inicial se puede cambiar).


![reduce](images/reduce.png)

In [76]:
from functools import reduce

In [77]:
def sumar(a, b):
    
    print(a, b)
    
    return a+b

In [78]:
lst[:10]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [79]:
%%time

reduce(sumar, lst[:10])

0 1
1 2
3 3
6 4
10 5
15 6
21 7
28 8
36 9
CPU times: user 90 µs, sys: 16 µs, total: 106 µs
Wall time: 104 µs

45

In [80]:
%%time

sum(lst[:10])

CPU times: user 8 µs, sys: 2 µs, total: 10 µs
Wall time: 15.7 µs

45

In [81]:
reduce(sumar, ['hola', 'ADIOS', 'EIKFGHJIE','odkfjneorfe'])

hola ADIOS
holaADIOS EIKFGHJIE
holaADIOSEIKFGHJIE odkfjneorfe

'holaADIOSEIKFGHJIEodkfjneorfe'

In [89]:
def producto(a, b):
    
    print(a, b)
    
    return a*b

In [90]:
reduce(producto, lst[1:10])

1 2
2 3
6 4
24 5
120 6
720 7
5040 8
40320 9

362880

In [92]:
%%time

reduce(producto, [1, 2, 3, 4])

1 2
2 3
6 4
CPU times: user 51 µs, sys: 10 µs, total: 61 µs
Wall time: 59.1 µs

24

In [88]:
sum(lst[:10])/len(lst[:10])

4.5

In [93]:
%%time

res = 1

for e in lst[1:10]:
    
    res *= e
    
res

CPU times: user 20 µs, sys: 1e+03 ns, total: 21 µs
Wall time: 24.1 µs

362880

### Resumen 

`map,filter,reduce` son funciones que reciben otra función como argumento de entrada y un iterable.

- Map: Devuelve un iterable con el mismo número de elementos que el iterable de entrada.
- Filter: Devuelve un iterable, no necesariamente igual en longitud que el original.
- Reduce: Devuelve un solo elemento (aunque puede ser una lista).


**Resumen gráfico:**
![map_reduce_filter](images/map_reduce_filter.png)

In [100]:
# lista de listas


lst_lst = [[1,2,3], [4,5,6], [7,8,9]]


list(map(lambda x: x+[9], lst_lst))

[[1, 2, 3, 9], [4, 5, 6, 9], [7, 8, 9, 9]]

In [101]:
list(filter(lambda x: 1 in x, lst_lst))

[[1, 2, 3]]

In [102]:
reduce(lambda a,b: a+b, lst_lst)   # flatten

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [104]:
[1,2] + [3,4]

[1, 2, 3, 4]

In [103]:
sum(reduce(lambda a,b: a+b, lst_lst))

45