# 2.2 - Web Scraping (bs4)

$$$$

![scraping](images/scraping.png)

$$$$

Web scraping o raspado web, es una técnica utilizada mediante programas de software para extraer información de sitios web. Usualmente, estos programas simulan la navegación de un humano en la web ya sea utilizando el protocolo HTTP manualmente, o incrustando un navegador en una aplicación.

El web scraping está muy relacionado con la indexación de la web, la cual indexa la información de la web utilizando un robot y es una técnica universal adoptada por la mayoría de los motores de búsqueda. Sin embargo, el web scraping se enfoca más en la transformación de datos sin estructura en la web, como el formato HTML, en datos estructurados que pueden ser almacenados y analizados en una base de datos central, en una hoja de cálculo o en alguna otra fuente de almacenamiento. Alguno de los usos del web scraping son la comparación de precios en tiendas, la monitorización de datos relacionados con el clima de cierta región, la detección de cambios en sitios webs y la integración de datos en sitios webs. 

En los últimos años el web scraping se ha convertido en una técnica muy utilizada dentro del sector del posicionamiento web gracias a su capacidad de generar grandes cantidades de datos para crear contenidos de calidad.

Podríamos pensar que el web scraping es nuestro último recurso a falta de una API o un feed RSS. A falta de una fuente de datos, siempre podemos extraer aquello que sale por pantalla.

### Extracción desde el HTML

Para scrapear una página web, en primer lugar debemos conocer las estructura que tiene el HTML. Veamos la estructura básica.

El HTML consiste en contenido `<etiquetado>`, es como si fueran cajas de contenido, organizado de manera jerárquica:

```
<html>
    <head>
        <title>Titulo de la pagina</title>
    </head>
    <body>
        <h1>Cabecera</h1>
        <p>Parrafo</p>
    </body>
</html>
```

$$$$

Las etiquetas el HTML se pueden clasificar en varios grupos, dependiendo del tipo de contenido que posea. Estos son algunos ejemplos:

+ cabecera: `<h1>`, `<h2>`, `<h3>`, `<hgroup>`...
+ texto: `<b>`, `<p>`...
+ embebido: `<audio>`, `<img>`, `<video>`...
+ tabular: `<table>`, `<tr>`, `<td>`, `<tbody>`...
+ secciones: `<header>`, `<section>`, `<article>`...
+ metadata: `<meta>`, `<title>`, `<script>`...

$$$$

Las etiquetas pueden tener atributos. Por ejemplo:
 
`<div class="text-monospace" id="name_132", href="www.example.com"> Contenido de la pagina </div>` 

Esta etiqueta `div` tiene los siguientes atributos:

+ class: atributo con valor "text-monospace". La clase no es única en la página.
+ id: atributo con valor "name_132". El id de una etiqueta la identifica de manera unívoca.
+ href: atributo con valor "www.example.com". El href suele contener el link a otra parte de la página.

Siguiendo con la analogía de las cajas, si una etiqueta de HTML es una caja, los atributos serían las pegatinas pegadas en la tapa de la caja.

Conociendo cual es el contenido que queremos extraer, debemos encontrar las etiquetas dentro del HTML de la página web.

Usaremos la herramienta **[BeautifulSoup](https://www.crummy.com/software/BeautifulSoup/bs4/doc/)**.

In [ ]:
%pip install beautifulsoup4

In [1]:
import requests as req

from bs4 import BeautifulSoup as bs    # ambos alias son cosa mia

### Ejemplos Wikipedia

**[Países europeos según esperanza de vida](https://en.wikipedia.org/wiki/List_of_European_countries_by_life_expectancy)**

In [2]:
url = 'https://en.wikipedia.org/wiki/List_of_European_countries_by_life_expectancy'

In [3]:
# usamos requests para extraer el html

html = req.get(url).content   # o .text

html[:1000]

b'<!DOCTYPE html>\n<html class="client-nojs vector-feature-language-in-header-enabled vector-feature-language-in-main-page-header-disabled vector-feature-sticky-header-disabled vector-feature-page-tools-pinned-disabled vector-feature-toc-pinned-enabled vector-feature-main-menu-pinned-disabled vector-feature-limited-width-enabled vector-feature-limited-width-content-enabled vector-feature-zebra-design-disabled" lang="en" dir="ltr">\n<head>\n<meta charset="UTF-8">\n<title>List of European countries by life expectancy - Wikipedia</title>\n<script>document.documentElement.className="client-js vector-feature-language-in-header-enabled vector-feature-language-in-main-page-header-disabled vector-feature-sticky-header-disabled vector-feature-page-tools-pinned-disabled vector-feature-toc-pinned-enabled vector-feature-main-menu-pinned-disabled vector-feature-limited-width-enabled vector-feature-limited-width-content-enabled vector-feature-zebra-design-disabled";(function(){var cookie=document.cookie.ma'

In [4]:
len(html)

452646

In [5]:
# parsear (traducir string a algo similar al html)


soup = bs(html, 'html.parser')

type(soup)

bs4.BeautifulSoup

In [10]:
len(soup.find_all('table'))

14

In [35]:
tabla = soup.find_all('table')[2]

type(tabla)

bs4.element.Tag

In [59]:
tabla.find_all('tr')[0].text.split('\n')

['',
 'Countries',
 '',
 'Life expectancy at birth',
 '',
 'HALE at birth',
 '',
 'Life expectancy at age 60',
 '',
 'HALE at age 60',
 '',
 '',
 '']

In [42]:
filas = tabla.find_all('tr')

filas = [f.text.split('\n') for f in filas]

filas[:2]

[['',
  'Countries',
  '',
  'Life expectancy at birth',
  '',
  'HALE at birth',
  '',
  'Life expectancy at age 60',
  '',
  'HALE at age 60',
  '',
  '',
  ''],
 ['',
  'All',
  '',
  'M',
  '',
  'F',
  '',
  'FΔM',
  '',
  'Δ2000',
  '',
  'All',
  '',
  'M',
  '',
  'F',
  '',
  'FΔM',
  '',
  'Δ2000',
  '',
  'All',
  '',
  'M',
  '',
  'F',
  '',
  'FΔM',
  '',
  'Δ2000',
  '',
  'All',
  '',
  'M',
  '',
  'F',
  '',
  'FΔM',
  '',
  'Δ2000',
  '']]

In [44]:
# limpieza

final = []

for f in filas:
    
    tmp = []
    
    for palabra in f:
        
        if palabra!='':
            tmp.append(palabra)
            
    final.append(tmp)
    
final[:2]

[['Countries',
  'Life expectancy at birth',
  'HALE at birth',
  'Life expectancy at age 60',
  'HALE at age 60'],
 ['All',
  'M',
  'F',
  'FΔM',
  'Δ2000',
  'All',
  'M',
  'F',
  'FΔM',
  'Δ2000',
  'All',
  'M',
  'F',
  'FΔM',
  'Δ2000',
  'All',
  'M',
  'F',
  'FΔM',
  'Δ2000']]

In [45]:
final = [[palabra for palabra in f if palabra !=''] for f in filas]

final[0]

['Countries',
 'Life expectancy at birth',
 'HALE at birth',
 'Life expectancy at age 60',
 'HALE at age 60']

In [53]:
import pandas as pd


col_names = final[1]+['0']

data = final[3:]

df = pd.DataFrame(data, columns=col_names)

df.head()

,All,M,F,FΔM,Δ2000,All,M,F,FΔM,Δ2000,...,M,F,FΔM,Δ2000,All,M,F,FΔM,Δ2000,0
0,Switzerland,83.4,81.8,85.1,3.3,3.7,72.5,72.2,72.8,0.6,...,25.4,24.1,26.6,2.5,2.4,19.5,18.8,20.2,1.4,1.8
1,Spain,83.2,80.7,85.7,5.0,4.1,72.1,71.3,72.9,1.6,...,25.4,23.3,27.3,4.0,2.7,19.2,18.0,20.3,2.3,1.9
2,Cyprus,83.1,81.1,85.1,4.0,4.4,72.4,71.8,73.0,1.2,...,24.9,23.3,26.4,3.1,3.0,19.0,18.1,19.9,1.8,2.2
3,Italy,83.0,80.9,84.9,4.0,3.6,71.9,71.2,72.6,1.4,...,25.0,23.4,26.5,3.1,2.5,18.9,17.9,19.8,1.9,1.8
4,Norway,82.6,81.1,84.1,3.0,4.1,71.4,71.0,71.6,0.6,...,24.7,23.5,25.8,2.3,2.7,18.5,17.8,19.1,1.3,1.8

In [62]:
# esto es solo pa pandas

df = pd.read_clipboard()    # ctrl+v

df.head()

,83.4,81.8,85.1,3.3,3.7,72.5,72.2,72.8,0.6,3.2,...,24.1,26.6,2.5,2.4,19.5,18.8,20.2,1.4,1.8,Switzerland
Switzerland,,,,,,,,,,,,,,,,,,,,,
Spain,83.2,80.7,85.7,5.0,4.1,72.1,71.3,72.9,1.6,3.0,...,23.3,27.3,4.0,2.7,19.2,18.0,20.3,2.3,1.9,Spain
Cyprus,83.1,81.1,85.1,4.0,4.4,72.4,71.8,73.0,1.2,3.3,...,23.3,26.4,3.1,3.0,19.0,18.1,19.9,1.8,2.2,Cyprus
Italy,83.0,80.9,84.9,4.0,3.6,71.9,71.2,72.6,1.4,2.9,...,23.4,26.5,3.1,2.5,18.9,17.9,19.8,1.9,1.8,Italy
Norway,82.6,81.1,84.1,3.0,4.1,71.4,71.0,71.6,0.6,3.0,...,23.5,25.8,2.3,2.7,18.5,17.8,19.1,1.3,1.8,Norway
France,82.5,79.8,85.1,5.3,3.6,72.1,71.1,73.1,2.0,2.8,...,23.3,27.2,3.9,2.3,19.7,18.5,20.8,2.3,1.7,France

In [63]:
pd.read_clipboard()

Empty DataFrame
Columns: [pd.read_clipboard()]
Index: []

### Ejemplo geolocalización por IP

https://tools.keycdn.com/geo

**¿Dónde estoy?**

In [64]:
url = 'https://tools.keycdn.com/geo?host=2.136.118.161'

In [65]:
html = req.get(url).text

sopa = bs(html, 'html.parser')

In [68]:
sopa.find('div', id='geoResult')

<div class="mt-4" id="geoResult">
<div class="bg-light medium rounded p-3">
<p class="small text-uppercase text-muted font-weight-semi-bold line-height-headings mb-2">Location</p> <dl class="row mb-0">
<dt class="col-4">City</dt><dd class="col-8 text-monospace">Madrid</dd><dt class="col-4">Region</dt><dd class="col-8 text-monospace">Madrid (M)</dd><dt class="col-4">Postal code</dt><dd class="col-8 text-monospace">28053</dd><dt class="col-4">Country</dt><dd class="col-8 text-monospace">Spain (ES)</dd><dt class="col-4">Continent</dt><dd class="col-8 text-monospace">Europe (EU)</dd><dt class="col-4">Coordinates</dt><dd class="col-8 text-monospace">40.4163 (lat) / -3.6934 (long)</dd><dt class="col-4">Time</dt><dd class="col-8 text-monospace">2023-08-01 12:08:22 (Europe/Madrid)</dd> </dl>
<p class="small text-uppercase text-muted font-weight-semi-bold line-height-headings mt-4 mb-2">Network</p>
<dl class="row mb-0">
<dt class="col-4">IP address</dt><dd class="col-8 text-monospace">2.136.118.161</dd><dt class="col-4">Hostname</dt><dd class="col-8 text-monospace">161.red-2-136-118.staticip.rima-tde.net</dd><dt class="col-4">Provider</dt><dd class="col-8 text-monospace">Telefonica De Espana S.a.u.</dd><dt class="col-4">ASN</dt><dd class="col-8 text-monospace">3352</dd> </dl>
</div>
<div class="mapael mt-4" id="geoMap">
<div class="map position-relative"></div>
</div>
</div>

In [69]:
sopa.find('div', class_='mt-4')

<div class="col-xl-2 col-md-3 d-flex align-items-end mt-md-0 mt-4">
<button class="btn btn-primary d-flex justify-content-center align-items-center w-md-100" id="geoBtn">Find</button>
</div>

In [70]:
sopa.find('div', {'id': 'geoResult', 'class': 'mt-4'})

<div class="mt-4" id="geoResult">
<div class="bg-light medium rounded p-3">
<p class="small text-uppercase text-muted font-weight-semi-bold line-height-headings mb-2">Location</p> <dl class="row mb-0">
<dt class="col-4">City</dt><dd class="col-8 text-monospace">Madrid</dd><dt class="col-4">Region</dt><dd class="col-8 text-monospace">Madrid (M)</dd><dt class="col-4">Postal code</dt><dd class="col-8 text-monospace">28053</dd><dt class="col-4">Country</dt><dd class="col-8 text-monospace">Spain (ES)</dd><dt class="col-4">Continent</dt><dd class="col-8 text-monospace">Europe (EU)</dd><dt class="col-4">Coordinates</dt><dd class="col-8 text-monospace">40.4163 (lat) / -3.6934 (long)</dd><dt class="col-4">Time</dt><dd class="col-8 text-monospace">2023-08-01 12:08:22 (Europe/Madrid)</dd> </dl>
<p class="small text-uppercase text-muted font-weight-semi-bold line-height-headings mt-4 mb-2">Network</p>
<dl class="row mb-0">
<dt class="col-4">IP address</dt><dd class="col-8 text-monospace">2.136.118.161</dd><dt class="col-4">Hostname</dt><dd class="col-8 text-monospace">161.red-2-136-118.staticip.rima-tde.net</dd><dt class="col-4">Provider</dt><dd class="col-8 text-monospace">Telefonica De Espana S.a.u.</dd><dt class="col-4">ASN</dt><dd class="col-8 text-monospace">3352</dd> </dl>
</div>
<div class="mapael mt-4" id="geoMap">
<div class="map position-relative"></div>
</div>
</div>

In [71]:
tabla = sopa.find('div', {'id': 'geoResult', 'class': 'mt-4'})

In [72]:
tabla.find_all('dd')

[<dd class="col-8 text-monospace">Madrid</dd>,
 <dd class="col-8 text-monospace">Madrid (M)</dd>,
 <dd class="col-8 text-monospace">28053</dd>,
 <dd class="col-8 text-monospace">Spain (ES)</dd>,
 <dd class="col-8 text-monospace">Europe (EU)</dd>,
 <dd class="col-8 text-monospace">40.4163 (lat) / -3.6934 (long)</dd>,
 <dd class="col-8 text-monospace">2023-08-01 12:08:22 (Europe/Madrid)</dd>,
 <dd class="col-8 text-monospace">2.136.118.161</dd>,
 <dd class="col-8 text-monospace">161.red-2-136-118.staticip.rima-tde.net</dd>,
 <dd class="col-8 text-monospace">Telefonica De Espana S.a.u.</dd>,
 <dd class="col-8 text-monospace">3352</dd>]

In [79]:
type(tabla.find_all('dd')[0])

bs4.element.Tag

In [81]:
tabla.find_all('dd')[0].text

'Madrid'

In [80]:
type(tabla.find_all('dd')[0].text)

str

In [77]:
[e.text for e in tabla.find_all('dd')]

['Madrid',
 'Madrid (M)',
 '28053',
 'Spain (ES)',
 'Europe (EU)',
 '40.4163 (lat) / -3.6934 (long)',
 '2023-08-01 12:08:22 (Europe/Madrid)',
 '2.136.118.161',
 '161.red-2-136-118.staticip.rima-tde.net',
 'Telefonica De Espana S.a.u.',
 '3352']

In [82]:
[e.text for e in tabla.find_all('dt')]

['City',
 'Region',
 'Postal code',
 'Country',
 'Continent',
 'Coordinates',
 'Time',
 'IP address',
 'Hostname',
 'Provider',
 'ASN']

In [87]:
conexion = dict(zip([e.text for e in tabla.find_all('dt')], 
                    [e.text for e in tabla.find_all('dd')]))

In [88]:
conexion

{'City': 'Madrid',
 'Region': 'Madrid (M)',
 'Postal code': '28053',
 'Country': 'Spain (ES)',
 'Continent': 'Europe (EU)',
 'Coordinates': '40.4163 (lat) / -3.6934 (long)',
 'Time': '2023-08-01 12:08:22 (Europe/Madrid)',
 'IP address': '2.136.118.161',
 'Hostname': '161.red-2-136-118.staticip.rima-tde.net',
 'Provider': 'Telefonica De Espana S.a.u.',
 'ASN': '3352'}

In [89]:
# creo una funcion para todo el proceso, segun ip


def encontrar(ip):
    
    url = f'https://tools.keycdn.com/geo?host={ip}'
    
    
    html = req.get(url).text

    sopa = bs(html, 'html.parser')
    
    tabla = sopa.find('div', {'id': 'geoResult', 'class': 'mt-4'})
    
    conexion = dict(zip([e.text for e in tabla.find_all('dt')], 
                    [e.text for e in tabla.find_all('dd')]))
    
    return conexion

In [91]:
encontrar('2.136.118.161')

{'City': 'Madrid',
 'Region': 'Madrid (M)',
 'Postal code': '28053',
 'Country': 'Spain (ES)',
 'Continent': 'Europe (EU)',
 'Coordinates': '40.4163 (lat) / -3.6934 (long)',
 'Time': '2023-08-01 12:17:20 (Europe/Madrid)',
 'IP address': '2.136.118.161',
 'Hostname': '161.red-2-136-118.staticip.rima-tde.net',
 'Provider': 'Telefonica De Espana S.a.u.',
 'ASN': '3352'}

In [92]:
encontrar('168.123.4.5')

{'City': 'Barrigada Village',
 'Postal code': '96921',
 'Country': 'Guam (GU)',
 'Continent': 'Oceania (OC)',
 'Coordinates': '13.4593 (lat) / 144.7942 (long)',
 'Time': '2023-08-01 20:17:27 (Pacific/Guam)',
 'IP address': '168.123.4.5',
 'Hostname': '168.123.4.5',
 'Provider': 'UNIVERSITY-GUAM',
 'ASN': '395400'}

In [93]:
encontrar('46.222.34.200')

{'City': 'Madrid',
 'Region': 'Madrid (M)',
 'Postal code': '28045',
 'Country': 'Spain (ES)',
 'Continent': 'Europe (EU)',
 'Coordinates': '40.4163 (lat) / -3.6934 (long)',
 'Time': '2023-08-01 12:17:37 (Europe/Madrid)',
 'IP address': '46.222.34.200',
 'Hostname': '46.222.34.200',
 'Provider': 'Xtra Telecom S.A.',
 'ASN': '15704'}

### Ejemplo LinkedIn

In [94]:
url = 'https://www.linkedin.com/jobs/search/?currentJobId=3661489995&geoId=105646813&keywords=analista%20de%20datos&location=Espa%C3%B1a&refresh=true'

In [95]:
html = req.get(url).text

sopa = bs(html, 'html.parser')

In [101]:
tarjetas = sopa.find('ul', class_='jobs-search__results-list')

type(tarjetas)

bs4.element.Tag

In [103]:
len(tarjetas.find_all('li'))

25

In [133]:
curro = tarjetas.find_all('li')[0]

titulo = curro.find('span').text.strip()

empresa = curro.find('h4').text.strip()

link_curro = curro.find('a').attrs['href']

link_comp = curro.find('h4').find('a').attrs['href']

pais = curro.find('span', class_='job-search-card__location').text.strip()

fecha = curro.find('time').attrs['datetime']

In [134]:
{'titulo': titulo,

'empresa': empresa,

'link_curro': link_curro,

'link_comp': link_comp, 

'pais': pais, 

'fecha': fecha}

{'titulo': 'DATA ANALYST (REMOTO)',
 'empresa': 'IRIUM',
 'link_curro': 'https://es.linkedin.com/jobs/view/data-analyst-remoto-at-irium-3671561457?refId=Qyz%2BOPiKV3VbnB4qrnh50w%3D%3D&trackingId=oYBFwVE9DHRNjNrR4xbjmQ%3D%3D&position=1&pageNum=0&trk=public_jobs_jserp-result_search-card',
 'link_comp': 'https://es.linkedin.com/company/irium-solucionesysistemas?trk=public_jobs_jserp-result_job-search-card-subtitle',
 'pais': 'Madrid, Community of Madrid, Spain',
 'fecha': '2023-07-21'}

In [146]:
def linkedin(keywords, num_pages, loc, n_secs):
    
    URL = 'https://www.linkedin.com/jobs/search/'
    
    data = []
    
    
    for i in range(num_pages):
        
        scrape_url = ''.join([URL,    # url principal
                              f'?keywords={keywords}',
                              '&geoId=105646813',
                              f'&location={loc}',
                              f'&f_TPR={n_secs}',
                              f'&start={i*25}'
                             ])
        
        html = req.get(scrape_url).text

        sopa = bs(html, 'html.parser')
        
        tarjetas = sopa.find('ul', class_='jobs-search__results-list').find_all('li')
        
        
        # bucle sobre los li, las tarjetas de cada curro
        for curro in tarjetas:
            
            
            try:
                titulo = curro.find('span').text.strip()

                empresa = curro.find('h4').text.strip()

                link_curro = curro.find('a').attrs['href']

                link_comp = curro.find('h4').find('a').attrs['href']

                pais = curro.find('span', class_='job-search-card__location').text.strip()

                fecha = curro.find('time').attrs['datetime']


                data.append({'titulo': titulo,

                            'empresa': empresa,

                            'link_curro': link_curro,

                            'link_comp': link_comp, 

                            'pais': pais, 

                            'fecha': fecha})
            except:
                print('hola')
                continue
                
                
    
    
    return pd.DataFrame(data)

In [147]:
df = linkedin('analista%20de%20datos', 5, 'spain', 30000)

In [148]:
df.head()

,titulo,empresa,link_curro,link_comp,pais,fecha
0,DATA ANALYST (REMOTO),IRIUM,https://es.linkedin.com/jobs/view/data-analyst...,https://es.linkedin.com/company/irium-solucion...,"Madrid, Community of Madrid, Spain",2023-07-21
1,Analista de datos Junior,Krell Consulting,https://es.linkedin.com/jobs/view/analista-de-...,https://es.linkedin.com/company/krellconsultin...,"Madrid, Community of Madrid, Spain",2023-07-06
2,Data Analyst Power BI,CGI,https://es.linkedin.com/jobs/view/data-analyst...,https://ca.linkedin.com/company/cgi?trk=public...,"Madrid, Community of Madrid, Spain",2023-07-28
3,Analista de datos,QUANT AI Lab,https://es.linkedin.com/jobs/view/analista-de-...,https://fr.linkedin.com/company/quant-ai-lab?t...,"Madrid, Community of Madrid, Spain",2023-07-14
4,Data Analyst,Coniq,https://es.linkedin.com/jobs/view/data-analyst...,https://uk.linkedin.com/company/coniq?trk=publ...,"Barcelona, Catalonia, Spain",2023-07-20

In [149]:
df.shape

(125, 6)

In [150]:
from IPython.display import HTML

In [154]:
HTML(df.head().to_html(render_links=True))

In [155]:
html = req.get('https://www.linkedin.com/in/yonatan-rodriguez/').text

html

'<html><head>\n<script type="text/javascript">\nwindow.onload = function() {\n  // Parse the tracking code from cookies.\n  var trk = "bf";\n  var trkInfo = "bf";\n  var cookies = document.cookie.split("; ");\n  for (var i = 0; i < cookies.length; ++i) {\n    if ((cookies[i].indexOf("trkCode=") == 0) && (cookies[i].length > 8)) {\n      trk = cookies[i].substring(8);\n    }\n    else if ((cookies[i].indexOf("trkInfo=") == 0) && (cookies[i].length > 8)) {\n      trkInfo = cookies[i].substring(8);\n    }\n  }\n\n  if (window.location.protocol == "http:") {\n    // If "sl" cookie is set, redirect to https.\n    for (var i = 0; i < cookies.length; ++i) {\n      if ((cookies[i].indexOf("sl=") == 0) && (cookies[i].length > 3)) {\n        window.location.href = "https:" + window.location.href.substring(window.location.protocol.length);\n        return;\n      }\n    }\n  }\n\n  // Get the new domain. For international domains such as\n  // fr.linkedin.com, we convert it to www.linkedin.com\n  // treat .cn similar to .com here\n  var domain = location.host;\n  if (domain != "www.linkedin.com" && domain != "www.linkedin.cn") {\n    var subdomainIndex = location.host.indexOf(".linkedin");\n    if (subdomainIndex != -1) {\n      domain = "www" + location.host.substring(subdomainIndex);\n    }\n  }\n\n  window.location.href = "https://" + domain + "/authwall?trk=" + trk + "&trkInfo=" + trkInfo +\n      "&original_referer=" + document.referrer.substr(0, 200) +\n      "&sessionRedirect=" + encodeURIComponent(window.location.href);\n}\n</script>\n</head></html>\n'