### 1 - Terremotos

In [3]:
from selenium import webdriver

from selenium.webdriver.common.by import By

PATH = 'driver/chromedriver'

In [4]:
url = 'https://www.emsc-csem.org/Earthquake/'

In [5]:
driver = webdriver.Chrome(PATH)   

driver.get(url)

/var/folders/95/ms6dwls51ls1jq0t456d3r200000gn/T/ipykernel_59036/1125902200.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(PATH)

In [6]:
tabla = driver.find_element(By.XPATH, '/html/body/div[3]/div[6]/table')

tabla

In [13]:
cuerpo = tabla.find_element(By.TAG_NAME, 'tbody')


filas = cuerpo.find_elements(By.TAG_NAME, 'tr')

In [17]:
filas[0].find_elements(By.TAG_NAME, 'td')[4].text

'55.378'

In [18]:
matriz = []


for f in filas:
    
    tmp = []
    
    elems = f.find_elements(By.TAG_NAME, 'td')  # esto es una lista
    
    for e in elems:
        
        tmp.append(e.text)
        
    matriz.append(tmp)

In [25]:
len(matriz[0])

10

In [26]:
cabecera = tabla.find_element(By.TAG_NAME, 'thead')

len(cabecera.find_elements(By.TAG_NAME, 'th'))

8

In [27]:
[e.text for e in cabecera.find_elements(By.TAG_NAME, 'th')]

['',
 'Citizen\nresponse',
 'Date & Time\nUTC',
 'Lat.\ndegrees',
 'Lon.\ndegrees',
 'Depth\nkm',
 'Mag.[+]',
 'Region']

In [28]:
import pandas as pd

In [31]:
columnas = [i for i in range(10)]


df = pd.DataFrame(matriz, columns=columnas)

df = df[[3, 4, 5, 6, 8, 9]]

In [33]:
n_cols = [e.text for e in cabecera.find_elements(By.TAG_NAME, 'th')]

len(n_cols)

8

In [37]:
n_cols[2:]

['Date & Time\nUTC',
 'Lat.\ndegrees',
 'Lon.\ndegrees',
 'Depth\nkm',
 'Mag.[+]',
 'Region']

In [35]:
df.head()

,3,4,5,6,8,9
0,2023-11-02 08:09:18\n4 min ago,55.378,-157.694,17,3.0,ALASKA PENINSULA
1,2023-11-02 07:52:27\n21 min ago,44.290,7.570,3,2.5,NORTHERN ITALY
2,2023-11-02 07:41:58\n31 min ago,15.120,-94.660,18,4.4,"OFF COAST OF OAXACA, MEXICO"
3,2023-11-02 07:40:38\n33 min ago,38.680,21.290,5,2.2,GREECE
4,2023-11-02 07:31:41\n42 min ago,17.968,-66.838,16,2.2,PUERTO RICO

In [38]:
df.columns = n_cols[2:]

In [41]:
df.head()

,Date & Time\nUTC,Lat.\ndegrees,Lon.\ndegrees,Depth\nkm,Mag.[+],Region
0,2023-11-02 08:09:18\n4 min ago,55.378,-157.694,17,3.0,ALASKA PENINSULA
1,2023-11-02 07:52:27\n21 min ago,44.290,7.570,3,2.5,NORTHERN ITALY
2,2023-11-02 07:41:58\n31 min ago,15.120,-94.660,18,4.4,"OFF COAST OF OAXACA, MEXICO"
3,2023-11-02 07:40:38\n33 min ago,38.680,21.290,5,2.2,GREECE
4,2023-11-02 07:31:41\n42 min ago,17.968,-66.838,16,2.2,PUERTO RICO

In [44]:
df2 = pd.read_html('https://www.emsc-csem.org/Earthquake_information/')

In [46]:
df2

[    Unnamed: 0              Period           Magnitude               Depth  \
 0         Min:                 NaN                 NaN                 NaN
 1         Max:                 NaN                 NaN                 NaN
 2  Region Name  [x] \tSend checked  [x] \tSend checked  [x] \tSend checked

              Latitude           Longitude Unnamed: 6  Reports  Images  \
 0                 NaN                 NaN      With:      NaN     NaN
 1                 NaN                 NaN        NaN      NaN     NaN
 2  [x] \tSend checked  [x] \tSend checked        NaN      NaN     NaN

    Comments
 0       NaN
 1       NaN
 2       NaN  ,
     0    1
 0 NaN  [x],
 Empty DataFrame
 Columns: [Unnamed: 0, Citizen response, Citizen response.1, Date & TimeUTC, Lat.degrees, Lon.degrees, Depthkm, Mag.[+], Region]
 Index: []]

pd.read_html('https://es.wikipedia.org/wiki/Anexo:Pa%C3%ADses_por_esperanza_de_vida')

## 2 . lenguajes

In [50]:
driver.get('https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers')

In [51]:
tabla = driver.find_element(By.CSS_SELECTOR, 'div.mw-parser-output > table.wikitable.sortable.static-row-numbers.jquery-tablesorter')

tabla

In [52]:
tabla.text

'Languages with at least 50 million first-language speakers[7]\nLanguage Native speakers\n(millions) Language family Branch\nMandarin Chinese\n(incl. Standard Chinese, but excl. other varieties) 939 Sino-Tibetan Sinitic\nSpanish 485 Indo-European Romance\nEnglish 380 Indo-European Germanic\nHindi\n(excl. Urdu, and other languages) 345 Indo-European Indo-Aryan\nPortuguese 236 Indo-European Romance\nBengali 234 Indo-European Indo-Aryan\nRussian 147 Indo-European Balto-Slavic\nJapanese 123 Japonic Japanese\nYue Chinese\n(incl. Cantonese) 86.1 Sino-Tibetan Sinitic\nVietnamese 85.0 Austroasiatic Vietic\nTurkish 84.0 Turkic Oghuz\nWu Chinese\n(incl. Shanghainese) 83.4 Sino-Tibetan Sinitic\nMarathi 83.2 Indo-European Indo-Aryan\nTelugu 83.0 Dravidian South-Central\nKorean 81.7 Koreanic —\nFrench 80.8 Indo-European Romance\nTamil 78.6 Dravidian South\nEgyptian Spoken Arabic\n(excl. Saʽidi Arabic) 77.4 Afroasiatic Semitic\nStandard German 75.3 Indo-European Germanic\nUrdu\n(excl. Hindi) 70.6 Indo-European Indo-Aryan\nJavanese 68.3 Austronesian Malayo-Polynesian\nWestern Punjabi\n(excl. Eastern Punjabi) 66.7 Indo-European Indo-Aryan\nItalian 64.6 Indo-European Romance\nGujarati 57.1 Indo-European Indo-Aryan\nIranian Persian\n(excl. Dari and Tajik) 57.2 Indo-European Iranian\nBhojpuri 52.3 Indo-European Indo-Aryan\nHausa 51.7 Afroasiatic Chadic'

In [53]:
cuerpo = tabla.find_element(By.TAG_NAME, 'tbody')


filas = cuerpo.find_elements(By.TAG_NAME, 'tr')

In [56]:
filas[0].find_elements(By.TAG_NAME, 'td')[2].text

'Sino-Tibetan'

In [57]:
matriz = []


for f in filas:
    
    tmp = []
    
    elems = f.find_elements(By.TAG_NAME, 'td')  # esto es una lista
    
    for e in elems:
        
        tmp.append(e.text)
        
    matriz.append(tmp)

In [61]:
df = pd.DataFrame(matriz)

In [60]:
matriz[0][0]

'Mandarin Chinese\n(incl. Standard Chinese, but excl. other varieties)'

In [64]:
df[0] = df[0].apply(lambda x: x.split('\n')[0])

In [65]:
df

                         0     1              2                  3
0         Mandarin Chinese   939   Sino-Tibetan            Sinitic
1                  Spanish   485  Indo-European            Romance
2                  English   380  Indo-European           Germanic
3                    Hindi   345  Indo-European         Indo-Aryan
4               Portuguese   236  Indo-European            Romance
5                  Bengali   234  Indo-European         Indo-Aryan
6                  Russian   147  Indo-European       Balto-Slavic
7                 Japanese   123        Japonic           Japanese
8              Yue Chinese  86.1   Sino-Tibetan            Sinitic
9               Vietnamese  85.0  Austroasiatic             Vietic
10                 Turkish  84.0         Turkic              Oghuz
11              Wu Chinese  83.4   Sino-Tibetan            Sinitic
12                 Marathi  83.2  Indo-European         Indo-Aryan
13                  Telugu  83.0      Dravidian      South-Central
14                  Korean  81.7       Koreanic                  —
15                  French  80.8  Indo-European            Romance
16                   Tamil  78.6      Dravidian              South
17  Egyptian Spoken Arabic  77.4    Afroasiatic            Semitic
18         Standard German  75.3  Indo-European           Germanic
19                    Urdu  70.6  Indo-European         Indo-Aryan
20                Javanese  68.3   Austronesian  Malayo-Polynesian
21         Western Punjabi  66.7  Indo-European         Indo-Aryan
22                 Italian  64.6  Indo-European            Romance
23                Gujarati  57.1  Indo-European         Indo-Aryan
24         Iranian Persian  57.2  Indo-European            Iranian
25                Bhojpuri  52.3  Indo-European         Indo-Aryan
26                   Hausa  51.7    Afroasiatic             Chadic

In [70]:
cols = [e.text for e in tabla.find_element(By.TAG_NAME, 'thead').find_elements(By.TAG_NAME, 'th')]

In [73]:
cols = [e.split('\n')[0] for e in cols]

In [74]:
df.columns = cols

In [75]:
df

                  Language Native speakers Language family             Branch
0         Mandarin Chinese             939    Sino-Tibetan            Sinitic
1                  Spanish             485   Indo-European            Romance
2                  English             380   Indo-European           Germanic
3                    Hindi             345   Indo-European         Indo-Aryan
4               Portuguese             236   Indo-European            Romance
5                  Bengali             234   Indo-European         Indo-Aryan
6                  Russian             147   Indo-European       Balto-Slavic
7                 Japanese             123         Japonic           Japanese
8              Yue Chinese            86.1    Sino-Tibetan            Sinitic
9               Vietnamese            85.0   Austroasiatic             Vietic
10                 Turkish            84.0          Turkic              Oghuz
11              Wu Chinese            83.4    Sino-Tibetan            Sinitic
12                 Marathi            83.2   Indo-European         Indo-Aryan
13                  Telugu            83.0       Dravidian      South-Central
14                  Korean            81.7        Koreanic                  —
15                  French            80.8   Indo-European            Romance
16                   Tamil            78.6       Dravidian              South
17  Egyptian Spoken Arabic            77.4     Afroasiatic            Semitic
18         Standard German            75.3   Indo-European           Germanic
19                    Urdu            70.6   Indo-European         Indo-Aryan
20                Javanese            68.3    Austronesian  Malayo-Polynesian
21         Western Punjabi            66.7   Indo-European         Indo-Aryan
22                 Italian            64.6   Indo-European            Romance
23                Gujarati            57.1   Indo-European         Indo-Aryan
24         Iranian Persian            57.2   Indo-European            Iranian
25                Bhojpuri            52.3   Indo-European         Indo-Aryan
26                   Hausa            51.7     Afroasiatic             Chadic

## 3 - twitter

In [103]:
import time

In [98]:
cuenta = 'elonmusk'


url = f'https://twitter.com/{cuenta}'

In [99]:
url

'https://twitter.com/elonmusk'

In [100]:
driver = webdriver.Chrome(PATH)

driver.get(url)

/var/folders/95/ms6dwls51ls1jq0t456d3r200000gn/T/ipykernel_59036/3715511717.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(PATH)

In [102]:
selector = 'div > div > div.css-1dbjc4n.r-18u37iz.r-13qz1uu.r-417010 > main > div > div > div > div > div > div.css-1dbjc4n.r-aqfbo4.r-gtdqiz.r-1gn8etr.r-1g40b8q > div:nth-child(1) > div > div > div > div > div > div.css-1dbjc4n.r-16y2uox.r-1wbh5a2.r-1pi2tsx.r-1777fci > div > div'


numero = driver.find_element(By.CSS_SELECTOR, selector)


int(float(numero.text.split()[0].replace(',', '.')) * 1000)

32700

In [106]:
def sacar_data_twitter(cuenta):
    
    url = f'https://twitter.com/{cuenta}'
    
    driver = webdriver.Chrome(PATH)
    
    try:
    
        driver.get(url)
        
        time.sleep(3)  # duerme el codigo 3 segundos

        selector = 'div > div > div.css-1dbjc4n.r-18u37iz.r-13qz1uu.r-417010 > main > div > div > div > div > div > div.css-1dbjc4n.r-aqfbo4.r-gtdqiz.r-1gn8etr.r-1g40b8q > div:nth-child(1) > div > div > div > div > div > div.css-1dbjc4n.r-16y2uox.r-1wbh5a2.r-1pi2tsx.r-1777fci > div > div'

        numero = driver.find_element(By.CSS_SELECTOR, selector)


        numero = int(float(numero.text.split()[0].replace(',', '.')) * 1000)
        
    except:
        
        numero = 0
        
        
    driver.quit()

    return numero

In [107]:
sacar_data_twitter(cuenta)

/var/folders/95/ms6dwls51ls1jq0t456d3r200000gn/T/ipykernel_59036/3095622103.py:5: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(PATH)

32700

In [108]:
sacar_data_twitter('d')

/var/folders/95/ms6dwls51ls1jq0t456d3r200000gn/T/ipykernel_59036/3095622103.py:5: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(PATH)

0

In [109]:
sacar_data_twitter('realdonaldtrump')

/var/folders/95/ms6dwls51ls1jq0t456d3r200000gn/T/ipykernel_59036/3095622103.py:5: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(PATH)

59100

In [111]:
cuenta = input()

sacar_data_twitter(cuenta)

hola

/var/folders/95/ms6dwls51ls1jq0t456d3r200000gn/T/ipykernel_59036/3095622103.py:5: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(PATH)

285300